openapi: 3.1.0
info:
  title: Bird GBFS Feed Discovery Geofencing API
  version: 2.3.0
  summary: Bird's Public General Bikeshare Feed Specification Feed
  description: OpenAPI description of Bird's public General Bikeshare Feed Specification (GBFS) v2.3 surface hosted at https://mds.bird.co/gbfs/v2/public/{city}. Each Bird city exposes the same nine GBFS sub-feeds — gbfs (auto-discovery), gbfs_versions, system_information, vehicle_types, free_bike_status, station_information, station_status, geofencing_zones, system_pricing_plans, and system_regions — with a 60-second TTL. Bird operates 88+ city feeds across Austria, Belgium, Canada, Switzerland, Germany, Spain, Finland, France, Israel, Italy, Portugal, and the United States. Data is licensed under Bird's GBFS Data License Agreement.
  contact:
    name: Bird Government Partnerships
    email: city@bird.co
    url: https://www.bird.co/cities
  license:
    name: Bird GBFS Data License Agreement
    url: https://www.bird.co/wp-content/uploads/2019/03/GBFS-Data-License-Agreement-2018-09-25.pdf
servers:
- url: https://mds.bird.co/gbfs/v2/public/{city}
  description: Bird GBFS public feed for a given city
  variables:
    city:
      default: los-angeles
      description: City slug for the desired Bird market. Examples include los-angeles, madrid, barcelona, helsinki, munich, ulm, calgary, edmonton, ottawa, halifax, antwerp, zurich, basel, biel, ulm, wienerneustadt. The canonical list lives in the MobilityData systems.csv at https://github.com/MobilityData/gbfs/blob/master/systems.csv.
tags:
- name: Geofencing
  description: No-ride / no-parking polygon zones
paths:
  /geofencing_zones.json:
    get:
      operationId: getGeofencingZones
      summary: Get Geofencing Zones
      description: Returns the GeoJSON FeatureCollection of no-ride, no-parking, and reduced-speed zones enforced by the Bird app for this city.
      tags:
      - Geofencing
      responses:
        '200':
          description: Geofencing zones payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeofencingZones'
components:
  schemas:
    GeofencingFeature:
      type: object
      properties:
        type:
          type: string
          enum:
          - Feature
        geometry:
          type: object
        properties:
          type: object
          properties:
            name:
              type: string
            start:
              type: integer
              format: int64
            end:
              type: integer
              format: int64
            rules:
              type: array
              items:
                type: object
                properties:
                  vehicle_type_id:
                    type: array
                    items:
                      type: string
                  ride_allowed:
                    type: boolean
                  ride_through_allowed:
                    type: boolean
                  maximum_speed_kph:
                    type: number
    GeofencingZones:
      allOf:
      - $ref: '#/components/schemas/GbfsEnvelope'
      - type: object
        properties:
          data:
            type: object
            properties:
              geofencing_zones:
                type: object
                description: GeoJSON FeatureCollection of geofence polygons
                properties:
                  type:
                    type: string
                    enum:
                    - FeatureCollection
                  features:
                    type: array
                    items:
                      $ref: '#/components/schemas/GeofencingFeature'
    GbfsEnvelope:
      type: object
      required:
      - version
      - data
      - last_updated
      - ttl
      properties:
        version:
          type: string
          description: GBFS spec version (e.g. "2.3")
        last_updated:
          type: integer
          format: int64
          description: POSIX timestamp at which the data was last updated
        ttl:
          type: integer
          description: Seconds before the consumer should re-fetch this feed
        data:
          type: object
